        body{
            
            background-image: url(https://wallpapershome.com/images/wallpapers/wwdc-2018-2560x1440-white-3d-4k-18705.jpg);
            font-family: 'Montserrat', sans-serif;
            background-size: ;
            overflow-x: hidden;
            cursor: context-menu;
            margin: 0;
            padding: 0;
            
            
        }
      

        #navbar{
            
            background-color: transparent;
            width: 100%;
            padding-top: 1px
      
        }
        
        .navbar li{
            
            list-style: none;
            float: right;
            margin-right: 100px;
            font-size: 16px;
            
     
        }
        
        .navbar li a{
    
            color: black;
            text-decoration: none;
            
        
        } 

        .navbar li:hover{
         
            cursor: pointer;
            border-bottom: 1px solid black;
        }

        .navbar li a.active{
            
            color: #ff0050;
            border-bottom: 1px solid #ff0050;
            cursor: auto;
        }
        #alo{

            font-size: 250px;
            float: right;
            top: 100px;
            position: absolute;
            left: 2250px;
            color: #ff0050

        }
        #alo2{

            font-size: 200px;
            float: right;
            top: 10px;
            position: absolute;
            left: 1160px;
            color: black

        }
        #logo{
            
            color: black;
            font-size: 30px;
            position: absolute;
            bottom: 86%;
            font-family:fantasy;
            left: 150px
        }
        
        #logoBild{
            
            font-size: 100px;
            position: absolute;
            bottom: 87%;
            left: 30px
        }
        

        #text1{

            font-size: 40px;
            position: absolute;
            justify-content: center;
            text-align: center;
            left: 500px;
            top: 150px;
            color: #ff0050;
            
        
        
        }

        #text2{
    
            font-size: 70px;
            position: absolute;
            justify-content: center;
            text-align: center;
            color: black;
            left: 1000px;
            top: 145px
        }



        .ueberschrift{
    
            font-size: 60px;
            position: absolute;
            justify-content: center;
            text-align: center;
            color: black;
            left: 1145px;
            top: 870px;
            letter-spacing: 15px;
           
        }
     
        .ueberschrift2{
    
            font-size: 35px;
            position: absolute;
            justify-content: center;
            text-align: center;
            color: #ff0050;
            left: 1190px;
            top: 930px;
            
        }

        #schrift{
            
            color:dimgrey;
            font-size: 40px;
            position: absolute;
            top: 80px;
            left: 2.5%;
      
            
            
        }
        
        

        #WebsiteK{
    
            width: 500px;
            height: 100px;
            background-color: #ff0050;
            position: absolute;
            top: 25%;
            left: -1%;
            color: white;
            text-align: end;
            font-size: 70px;
            line-height: 130px;
            border-radius: 10px;
            padding: 0px 10px 5px;
   
        }


        .box-shadow{
    
            position: absolute;
            float: right;
            width: 500px;
            right: -5px;
            top: 300px;
            box-shadow: 0 0 3em 25px;
            color: white
            
            
        }
        
        .container{

            position: absolute;
            top: 300px;
            left: -10px;
            opacity: 0.95
            
            
        }

        
        #bild{

            top: 300px;
            position:relative;
        }

        #middleButton{
            
            width: 120px;
            height: 45px;
            background-color: white;
            border-radius: 30px;
            border: 1px solid #ff0050;
            cursor: pointer;
            position: absolute;
            left: 51%;
            top: 620px;
            text-align: center;
            line-height: 3;
            transition: 0.3s;
            font-size: 16px;
            
     
        }
         
        
        #middleButton a{
            
            text-decoration: none;
            color: #ff0050;
            
    
        }


        #middleButton:hover{
            
          
            font-size: 18px;
            line-height: 2.7;
           
        }

      
         #button{
            
            width: 120px;
            height: 45px;
            color: white;
            background-color: #ff0050;
            border-radius: 30px;
            border: 1px solid;
            cursor: pointer;
            position:absolute;
            left: 29%;
            top: 320px;
            text-align: center;
            line-height: 3;
            transition: 0.3s;
            font-size: 16px
            
        }
  
        #button a{
    
            color: white;
            text-decoration: none;
        }

        #button:hover{
       
            font-size: 18px;
            line-height: 2.7;
           
          
        }

        .honeycomb{
            
            
            display: -webkit-box;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0;
            transform: translateY(80px);
            position: absolute;
            top: 905px;
            left: 680px;
            
            
        }

        .honeycomb-cell{
            
          -webkit-box-flex: 0;
          flex: 0 1 250px;
          max-width: 180px;
          height: 90px;
          margin: 65.4px 12.5px 25px;
          position: relative;
          padding: 0.5em;
          text-align: center;
          z-index: 1;
          box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.1);
        }

        .honeycomb-cell_img{
            
          object-fit: cover;
          object-position: center;
          filter: grayscale(100%);
            
        }

        .honeycomb-cell_title{
           
            
          height: 100%;
          display: -webkit-box;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-direction: column;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-hyphens: auto;
          hyphens: auto;
          word-break: break-word;
          text-transform: uppercase;
          color: #fff;
          font-weight: 700;
          font-size: 1.75em;
          transition: opacity 350ms;
            
        }

        .honeycomb-cell_title > small{
            
          font-weight: 300;
          margin-top: 0.25em;
        }

        .honeycomb-cell::before,
        .honeycomb-cell::after{
            
          content: '';
        }

        .honeycomb-cell::before,
        .honeycomb-cell::after,
        .honeycomb-cell_img{
            
          top: -50%;
          left: 0;
          width: 100%;
          height: 200%;
          display: block;
          position: absolute;
          -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          z-index: -1;
        }

        .honeycomb-cell::before{
            
          background: black;
          transform: scale(1.055);
          
        }

        .honeycomb-cell::after{
            
          background: black;
          opacity: 0.7;
          transition: opacity 350ms;
          -webkit-transition: opacity 350ms;
        }

        .honeycomb-cell:hover
        .honeycomb-cell_title{
            
          opacity: 0;
        }

        .honeycomb-cell:hover
        .honeycomb-cell_img{
            
          filter: grayscale(0%);
        }

        .honeycomb-cell:hover::before{
            
          background: black;
        }

        .honeycomb-cell:hover::after{
            
          opacity: 0;
        }

        .honeycomb_Hidden{
            
          display: none;
          opacity: 0;
          width: 250px;
          margin: 0 12.5px;
                
        }

        
        #contact{
            
            background-color: black;
            position: absolute;
            width: 100%;
            height: 35%;
            top: 1440px;
            color: white;
            padding: 10px 0px 15px 10px;
            left: 0px
            
   
        }
        
        .mittlereKasten{
            
            width: 600px;
            height: 320px;
            float: left;
            overflow: hidden;
            margin: 10px;
            background-color: black;
            border: 2px solid;
            font-size: 30px;
            padding: 0px 0px 0px 15px;

        }
    
        #kEins{
         
            
            position: relative;
            font-size: 30px;
            width: 500px;
            
            
            
        }
        
        #fontInsta{
            
            width: 30px;
            height: 30px;
            position: relative;
            font-size: 30px;
            bottom: 0px;
            cursor: pointer;
            
            
        }
        #insta{
    
            font-size: 20px;
            position: relative;
            left: 40px;
            bottom: 52px;
            font-family: cursive;
        }
        

        #insta:hover{

            color: #C13584
        }

        #fontInsta:hover{

            color: #C13584
        }

        #fontFace{
            
            width: 30px;
            height: 30px;
            position: relative;
            font-size: 30px;
            bottom: -20px;
            cursor: pointer;
            
        }

        #face{
    
            position: relative;
            left: 40px;
            font-size: 20px;
            bottom: 52px;
            font-family: cursive
        }
        

        #face:hover{

            color: #3b5998 
        }
        

        #fontFace:hover{

            color: #3b5998 
        }

        #fontTwitter{
            
            width: 30px;
            height: 30px;
            position: relative;
            font-size: 30px;
            bottom: -35px;
            cursor: pointer;
        }

        #twitter{
    
            position: relative;
            left: 40px;
            font-size: 20px;
            bottom: 52px;
            font-family:cursive
        }

        #twitter:hover{
            
            color: #1DA1F2
        }

        #fontTwitter:hover{

            color: #1DA1F2
        }
        #kZwei{
            
           
            position: relative;
            font-size: 30px;
            width: 500px;
            cursor: context-menu
        }
        
        #fontStadt{
            
            width: 30px;
            height: 30px;
            position: relative;
            
     
        }
        #stadt{
    
            font-size: 20px;
            position: relative;
            left: 50px;
            bottom: 48px;
        }


         #fontEmail{
            
            width: 30px;
            height: 30px;
            position: relative;
            bottom: -20px;
            
        }

        #email{
    
            position: relative;
            left: 50px;
            font-size: 20px;
            bottom: 52px;
        }
        

         #fontTelefon{
            
            width: 30px;
            height: 30px;
            position: relative;
            bottom: -43px;
        }

        #telefon{
    
            position: relative;
            left: 50px;
            font-size: 20px;
            bottom: 52px;
        }


        #innerbox{

            width: 350px;
            position: relative;
            left: 110px
        }

        .textbox{
    
            border-bottom:;
            overflow: hidden;
            border-bottom: 1px solid white;
           
                
        }

        .textbox input{
    
            border: none;
            background: none;
            outline: none;
            float:left;
            position: relative;
            top: 5px;
            color: white;
            display: block;
            margin: 10px;
    
        }

        #send{
    
            width: 80px;
            height: 40px;
            color: white;
            background-color: #ff0050;
            border-radius: 30px;
            cursor: pointer;
            position: absolute;
            text-align: center;
            line-height: 2.5;
            transition: 0.3s;
            font-size: 16px;
            left: 270px;
            top: 145px
        }
        
        #send a{
            
            color: white;
            text-decoration: none;

        }



        #send:hover{

            font-size: 18px;
            line-height: 2;
            background-color: mediumspringgreen;
            
           
        }
        #untenButton{
            
            width: 130px;
            height: 45px;
            text-align: ;
            float: right;
            font-size: 18px;
            position: relative;
            border: 1px solid white;
            right: 250px;
            margin: 10px;
            line-height: 2.5;
            transition: 0.3s;
            padding-left: 10px;
            padding-right: 5px;
            cursor: pointer;
            box-shadow: inset 0 0 0 0 #fff;
            transition: ease-out 0.3s;
            
       
        }
        
        #untenButton a{
    
            
            color: white;
            text-decoration: none;
            
        }

        #untenButton:hover{
            
            font-size: 19px;
            line-height: 2.3;
            box-shadow: inset 300px 0 0 0 #fff;
            
        }
        #untenButton a:hover{

            color: black;
            font-weight: bold
            
        }

        #arrow{
           
            position: absolute;
            top: 0px;
            right: 10px
      
        }
    
        #bär{

            position: relative;
            font-size: 250px;
            float: right;
            top: 49px;
            right: 30px;
    
        }
